<!DOCTYPE html>
<html>
  <head>
    <title>Living Documentation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= javascript_pack_tag 'server_rendering' %>
    <%= react_component('NavigationBar', {
        navbarBrand: 'Living Documentation',
        enabledLinks: @enabled_links
    }) %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= react_component('FlashMessage', { type: name, message: msg }) %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
