<!DOCTYPE html>
<html>
  <head>
    <title>Living Documentation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= javascript_pack_tag 'server_rendering' %>
    <%= react_component('NavigationBar', { navbarBrand: 'Living Documentation' }) %>

    <ul>
      <li><%= link_to 'View Posts', posts_path, class: 'nav-link' %></li>
      <li><%= link_to 'Add Post', new_post_path, class: 'nav-link' %></li>
      <li><%= link_to 'View Categories', categories_path, class: 'nav-link' %></li>
      <li><%= link_to 'Add Category', new_category_path, class: 'nav-link' %></li>
      <li><%= link_to 'Login', new_user_session_path, class: 'nav-link' %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
    </ul>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, name + ': ' + msg, class: "alert alert-#{name}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
